@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

a {
	cursor: pointer;
}

body {
	color: rgb(var(--foreground-rgb));
	font-size: 15px;
	line-height: 25px;
	background-color: #fafafa;
}

p {
	color: #000000;
}

img {
	height: fit-content;
}

h1 {
	font-size: 56px;
	line-height: 58px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
}

h2 {
	font-size: 40px;
	line-height: 44px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

h3 {
	font-size: 32px;
	line-height: 36px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

h4 {
	font-size: 26px;
	line-height: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h5 {
	font-size: 24px;
	line-height: 33px;
	text-transform: uppercase;
	letter-spacing: 1.7px;
}

h6 {
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.bar {
	height: 3px;
	width: 15%;
	background-color: #fff;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
	margin-bottom: 2px;
}

.single-product,
.checkout {
	padding-bottom: 0;
}

.single-product .grid:first-child,
.checkout .grid:first-child {
	margin-bottom: 0 !important;
}

.single-product .mx-auto:first-child,
.checkout .mx-auto:first-child {
	padding: 30px 30px 0 30px;
}

.single-product .sub-header,
.checkout .sub-header {
	display: none;
	visibility: hidden;
}

.cart span {
	padding: 4px 0;
	color: #000;
}

.cart span:hover,
.cart span:active {
	background: none;
	cursor: initial;
	background-color: unset !important;
	color: #000;
}
